In [1]:
!pip install --upgrade transformers
!pip install tokenizer
!pip install hugchat

Requirement already satisfied: transformers in c:\users\asus\anaconda3\lib\site-packages (4.48.1)
Requirement already satisfied: filelock in c:\users\asus\anaconda3\lib\site-packages (from transformers) (3.13.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.24.0 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (0.27.1)
Requirement already satisfied: numpy>=1.17 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (24.1)
Requirement already satisfied: pyyaml>=5.1 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (6.0.1)
Requirement already satisfied: regex!=2019.12.17 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (2024.9.11)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from transformers) (2.32.3)
Requirement already satisfied: tokenizers<0.22,>=0.21 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (0.21.0)
Requirement already satisfied: safetensors>=0.4.1 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (0.5.2)
Requirement already satisfied: tqdm>=4.27 in c:\users\asus\anaconda3\lib\site-packages (from transformers) (4.66.5)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\asus\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.24.0->transformers) (2024.6.1)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\asus\anaconda3\lib\site-packages (from huggingface-hub<1.0,>=0.24.0->transformers) (4.11.0)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm>=4.27->transformers) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests->transformers) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->transformers) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->transformers) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->transformers) (2024.12.14)
Requirement already satisfied: tokenizer in c:\users\asus\anaconda3\lib\site-packages (3.4.5)
Requirement already satisfied: hugchat in c:\users\asus\anaconda3\lib\site-packages (0.4.18)
Requirement already satisfied: requests in c:\users\asus\anaconda3\lib\site-packages (from hugchat) (2.32.3)
Requirement already satisfied: requests_toolbelt in c:\users\asus\anaconda3\lib\site-packages (from hugchat) (1.0.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\asus\anaconda3\lib\site-packages (from requests->hugchat) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests->hugchat) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests->hugchat) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests->hugchat) (2024.12.14)

In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\asus\anaconda3\lib\site-packages (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4) (2.5)

In [1]:
import numpy as np
import pandas as pd

import getpass
from hugchat import hugchat
from hugchat.login import Login

from bs4 import BeautifulSoup as bs
import requests

## What is Web scraping.?¶
Web scraping in Python involves extracting data from websites, and there are several methods and techniques you can use to achieve this goal. Here are some of the different methods of web scraping in Python:

Using BeautifulSoup and Requests: This is one of the most common methods for web scraping in Python. The requests library is used to fetch the HTML content of web pages, and the BeautifulSoup library is used to parse and extract data from the HTML. This method is suitable for static web pages with well-structured HTML. Using Selenium:

Selenium: It is a web automation tool that allows you to control a web browser programmatically. It can be used for web scraping dynamic websites that rely heavily on JavaScript, as it can interact with the page as a human user would. Selenium is often used when other methods fail to retrieve the data you need. Scrapy Framework:

Scrapy: It is a powerful and flexible web scraping framework for Python. It provides a high-level framework for defining how to extract data from websites, follow links, and store the data. Scrapy is well-suited for more complex web scraping projects and can handle crawling multiple pages and websites.

APIs: Many websites offer APIs (Application Programming Interfaces) that allow you to access and retrieve data in a structured format, such as JSON or XML. Instead of scraping HTML, you can make API requests to fetch the data directly. Using APIs is often more efficient and reliable than web scraping HTML.

## Pre-Processing COVID-19 Data
In this section, we will process a covid-19 data from worldometers.info, extracting all the coutry's details like critical cases, recovered cases. and also do preprocessing for each columns as needed.

## Loading the HTML Data of COVID-19 from Worldometers

In [5]:
from bs4 import BeautifulSoup as bs
def scrape_covid_data():
    url = 'https://www.worldometers.info/coronavirus/'
    response = requests.get(url)
    
    if response.status_code == 200:
        global zzz
        zzz = response.content
        soup = bs(response.content, 'html.parser')
        table = soup.find('table', id = 'main_table_countries_today')
        rows = table.find_all('tr')
        return rows

    else:
        print('Failed to fetch data. Status code:', response.status_code)
        return None


if __name__ == '__main__':
    covid_data = scrape_covid_data()
    if covid_data is not None:
        print(covid_data)

# For Writing text file
file1 = open("web_scrape_covid_text.txt","w")
file1.write(str(covid_data))
file1.close()

[<tr>
<th width="1%">#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">New<br>Recovered</br></th>
<th width="30">Active<br/>Cases</th>
<th width="30">Serious,<br/>Critical</th>
<th width="30">Tot Cases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>, <tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>131,889,132</td>
<td></td>
<td>1,695,941</td>
<td></td>
<td>127,665,129</td>
<td>+350</td>
<td>2,528,062</td>
<td>6,095</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>221,500,265</td>
<td></td>
<td>1,553,662</td>
<td></td>
<td>205,673,091</td>
<td></td>
<td>14,273,512</td>
<td>14,733</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>253,406,198</td>
<td></td>
<td>2,101,824</td>
<td></td>
<td>248,754,104</td>
<td>+474</td>
<td>2,550,270</td>
<td>4,453</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>70,200,879</td>
<td></td>
<td>1,367,332</td>
<td></td>
<td>66,683,585</td>
<td></td>
<td>2,149,962</td>
<td>8,953</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,895,771</td>
<td></td>
<td>33,015</td>
<td></td>
<td>14,752,388</td>
<td></td>
<td>110,368</td>
<td>31</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,860,924</td>
<td></td>
<td>258,892</td>
<td></td>
<td>12,090,808</td>
<td></td>
<td>511,224</td>
<td>529</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>704,753,890</td>
<td>0</td>
<td>7,010,681</td>
<td>0</td>
<td>675,619,811</td>
<td>+790</td>
<td>22,123,398</td>
<td>34,794</td>
<td>90,413</td>
<td>899.4</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">111,820,082</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,219,487                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">109,814,428</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">786,167</td>
<td style="font-weight: bold; text-align:right">940</td>
<td style="font-weight: bold; text-align:right">333,985</td>
<td style="font-weight: bold; text-align:right">3,642</td>
<td style="font-weight: bold; text-align:right">1,186,851,502</td>
<td style="font-weight: bold; text-align:right">3,544,901</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>275</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,348</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">45,035,393</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">533,570                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">32,016</td>
<td style="font-weight: bold; text-align:right">379</td>
<td style="font-weight: bold; text-align:right">935,879,495</td>
<td style="font-weight: bold; text-align:right">665,334</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,636</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.4</td>
</tr>, <tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,828,995</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">183,027                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">405,368</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">462,891</td>
<td style="font-weight: bold; text-align:right">2,182</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>458</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,833</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">38,743,918</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">711,380                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,783,377</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">179,908</td>
<td style="font-weight: bold; text-align:right">3,303</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>303</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">8,281</td>
</tr>, <tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,723,249</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">196,487                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">26,361,218</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">165,544</td>
<td style="font-weight: bold; text-align:right">22</td>
<td style="font-weight: bold; text-align:right">443,445</td>
<td style="font-weight: bold; text-align:right">3,261</td>
<td style="font-weight: bold; text-align:right">281,126,449</td>
<td style="font-weight: bold; text-align:right">4,665,010</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>307</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,747</td>
</tr>, <tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,910,387</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">232,112                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,678,275</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">363,666</td>
<td style="font-weight: bold; text-align:right">3,389</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>295</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">24,124,215</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">402,756                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,545,818</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">175,641</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">165,454</td>
<td style="font-weight: bold; text-align:right">2,762</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>362</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,205</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">17,232,066</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">102,174                                </td>

### Read file using Open function. Which returns String of HTML file

In [8]:
with open('web_scrape_covid_text.txt') as f:
    text = f.read()

In [9]:
print(type(text))

<class 'str'>

#### Here we have created text file from our scrape data so we have to convert it into html parser to access particular rows using tr (table row) tag.

In [14]:
new_soup = bs(text, 'html.parser')
new_rows = new_soup.find_all('tr')

## Preprocessing of Columns

### The country column contains '\n' in it's rows for some values, therefore we are replacing '\n' with a null string "".

In [18]:
rows=new_rows
country_data = []
for row in rows[1:]:
            columns = row.find_all('td')
            country = columns[1].text.replace("\n","")
            total_cases = columns[2].text
            new_cases = columns[3].text.strip()
            total_deaths = columns[4].text
            new_deaths = columns[5].text
            total_recovered = columns[6].text
            active_cases = columns[8].text
            critical_cases = columns[9].text
            total_tests = columns[12].text
            country_data.append({
                'Country': country,
                'Total Cases': total_cases,
                'New Cases': new_cases,
                'Total Deaths': total_deaths,
                'New Deaths': new_deaths,
                'Total Recovered': total_recovered,
                'Active Cases': active_cases,
                'Critical Cases': critical_cases,
                'Total Tests': total_tests
            })

In [20]:
covid_data=pd.DataFrame(country_data)

In [22]:
covid_data

,Country,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Critical Cases,Total Tests
0,North America,"131,889,132",,"1,695,941",,"127,665,129","2,528,062","6,095",
1,Asia,"221,500,265",,"1,553,662",,"205,673,091","14,273,512","14,733",
2,Europe,"253,406,198",,"2,101,824",,"248,754,104","2,550,270","4,453",
3,South America,"70,200,879",,"1,367,332",,"66,683,585","2,149,962","8,953",
4,Oceania,"14,895,771",,"33,015",,"14,752,388","110,368",31,
...,...,...,...,...,...,...,...,...,...
242,Total:,"70,200,879",,"1,367,332",,"66,683,585","2,149,962","8,953",
243,Total:,"14,895,771",,"33,015",,"14,752,388","110,368",31,
244,Total:,"12,860,924",,"258,892",,"12,090,808","511,224",529,
245,Total:,721,,15,,706,0,0,
246,Total:,"704,753,890",0,"7,010,681",0,"675,619,811","22,123,398","34,794",

#### As we can see New cases and New death columns has null values so, we will remove that two columns.

In [25]:
covid_data.drop(['New Cases','New Deaths','Total Tests'],axis=1,inplace=True)

In [27]:
covid_data.head()

,Country,Total Cases,Total Deaths,Total Recovered,Active Cases,Critical Cases
0,North America,"131,889,132","1,695,941","127,665,129","2,528,062","6,095"
1,Asia,"221,500,265","1,553,662","205,673,091","14,273,512","14,733"
2,Europe,"253,406,198","2,101,824","248,754,104","2,550,270","4,453"
3,South America,"70,200,879","1,367,332","66,683,585","2,149,962","8,953"
4,Oceania,"14,895,771","33,015","14,752,388","110,368",31

#### Countries which names starts with C.

In [30]:
def startswith(column,letter):
    List1=[]
    for i in column:
        if i[:1] == letter:
            List1.append(i)
    return List1

In [32]:
startswith(covid_data['Country'],"I")

['India',
 'Italy',
 'Iran',
 'Indonesia',
 'Israel',
 'Iraq',
 'Ireland',
 'Iceland',
 'Ivory Coast',
 'Isle of Man']

#### Countries which names starts with and ends with A.

In [35]:
import re
def startendwith(column):
    r = re.compile("A|a.*A|a")
    newlist = list(filter(r.match, column)) # Read Note below
    return(newlist)

In [37]:
startendwith(covid_data['Country'])

['Asia',
 'Africa',
 'Australia',
 'Argentina',
 'Austria',
 'Azerbaijan',
 'Armenia',
 'Albania',
 'Algeria',
 'Afghanistan',
 'Angola',
 'Andorra',
 'Aruba',
 'Antigua and Barbuda',
 'Anguilla']

#### Creating a chatbot

In [42]:
# login to Hugging Face
email = input("Enter your email")
password = getpass.getpass('Enter your password')
sign = Login(email, password)
cookies = sign.login()

# create a chatbot connection using the HuggingChat API
chatbot = hugchat.ChatBot(cookies)

Enter your email shashankbm57@gmail.com
Enter your password ········

#### We will store the chat history in the list chat_history for the messege to the chat bot will be "Can you tell me about this " plus our data

In [43]:
# Initialize an empty list to store chat history
chat_history = []

#  input message containing population_info
message = "Can you tell me about this " +str(covid_data)

# Append the message to the chat history list
chat_history.append(message)

# Join the chat history list into a single string with newline separators
conv = "\n".join(chat_history)

#### Use the chatbot to generate a response based on the conversation history (conv)

In [47]:
ai_response = chatbot.chat(conv)

# Print the AI-generated response
ai_response

#### Append the AI-generated response to the chat history for future reference

In [50]:
chat_history.append(ai_response)

#### The following lines of code will prompt you to ask more questions about your data

In [53]:
# Initialize a flag variable to control the loop
out = False

# Start a loop to continue the conversation
while out == False:  # Using 'while not out' is a cleaner condition
    # Prompt the user to ask more questions or exit
    print("Would you like to know more? Type 'out' to exit")
    print("\n")
    
    # Get user input
    prompt = input()
    
    # Check if the user wants to exit the conversation
    if prompt.lower() == "out":  # Make it case-insensitive
        print("Leaving")
        out = True
        continue  # Skip to the next iteration (exits the loop)
    
    # Join the chat history into a single string
    conv = "\n".join(str(item) for item in chat_history)  # Convert each item to a string
    
    # Generate an AI response based on the conversation history
    ai_response = chatbot.chat(conv)
    
    # Print the AI-generated response
    print(ai_response)
    
    # Append the user's input and AI response to the chat history
    chat_history.append(prompt)
    chat_history.append(ai_response)

    # Check if the user wants to exit the conversation
    if prompt == "out":
        print("Leaving")
        out = True

Would you like to know more? Type 'out' to exit

 out

Leaving